.download-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.download-box {
  justify-self: center;
  align-self: center;
  margin: 15px;
  text-align: center;
}

.os-name {
  display: block;
}

.os {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
}

.os-appimage {
  background-image: url(icons/appimage.svg);
}

.os-windows {
  background-image: url(icons/windows.svg);
}

.os-mac {
  background-image: url(icons/apple.svg);
}

.os-linux {
  background-image: url(icons/linux.svg);
}

.os-ubuntu {
  background-image: url(icons/ubuntu.svg);
}

.os-ios {
  background-image: url(icons/app-store-ios.svg);
}

.os-android {
  background-image: url(icons/android.svg);
}

table.development-snapshots {
  text-align: center;
}

a.suggested-download-button {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px;
  background: #3fb33f linear-gradient(#30dd30, #3fb33f);
  border: 1px solid #66b566;
  border-radius: 8px;
  padding: 24px 24px;
  color: #000;
  font-size: 32px;
  line-height: 32px;

  > img.suggested-download-button-icon {
    height: 32px;
    background: transparent;
  }
  > .suggested-download-button-caption {
    margin: auto 0;
  }
}
