pool:
  vmImage: 'ubuntu-latest'

variables:
  HUGO_VERSION: 0.154.4

jobs:
- job: hugo
  steps:
  - script: |
      set -e
      mkdir hugobin
      wget --no-verbose -O hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb
      sudo apt install ./hugo.deb
      hugo version
    displayName: 'Prepare Hugo Environment'
  - script: |
      hugo version
      hugo
    displayName: 'Build Hugo Website'
    workingDirectory: 'hugo'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'public'
      targetPath: 'public'
