<header>
    <div id="header-content">
        <div class="logo"><a href="{{ .Site.BaseURL | relURL }}"></a></div>

        <h1>
            <a href="{{ .Site.BaseURL | relURL }}">Mumble</a>
            <sub>Open Source, Low Latency, High Quality Voice Chat</sub>
        </h1>

        <nav>
            {{ if .Site.Menus.main }}
            <ul class="menu">
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </nav>
    </div>
</header>
