
.home-screenshots {
	display: flex;
	flex-direction: column;

	figure {
		width: 500px;
		margin: 0 0 1em 1em;
		box-shadow: 2px 2px 8px 0px #888888;
	}
}
@media (max-width: 949px) {
	.home-screenshots {
		display: none;
	}
}

.content {
	.download-button {
		display: inline-block;
		background-color: #4CAF50;
		color: white;
		font-size: 20px;
		line-height: 20px;
		padding: 20px;
		border-radius: 15px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		&:hover {
			background-color: #0C9F10;
		}
	}
}
