@import 'layout.scss';

@import 'news/release-notes.scss';
@import 'downloads';
@import 'home';

@media only screen and (max-width: 768px) {
	#header-content {
		display: block !important;
		text-align: center !important;

		.logo {
			margin: 0 auto !important;
		}
		nav {
			text-align: center !important;
		}
	}
	
	.download-box-container {
		grid-template-columns: 1fr 1fr !important;
	}
	.home-screenshots {
		display: none;
	}
}

main a[href^="https://wiki.mumble.info"]::after {
	content: 'W';
	vertical-align: super;
	font-size: 8px;
	margin-left: 2px;
}
