{{ define "main" }}

{{ $paginator := .Paginate (where .Pages ".Type" "==" "blog") (index .Site.Params "paginate" | default 10) }}

{{ partial "blog/nav-prev-next" $paginator }}

<div id="bloglist">
{{ range $paginator.Pages }}
<div class="markdown-body">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ .Summary }}
    {{ if .Truncated }}<p><a href="{{ .RelPermalink }}">Read more...</a></p>{{ end }}
    {{ if .Params.summaryReadMoreLink }}<p><a href="{{ .RelPermalink }}">Read on for the details…</a></p>{{ end }}
</div>
{{ end }}
</div>

{{ partial "blog/nav-prev-next" $paginator }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    <aside class="feed-icons"><a href="{{ .Permalink }}" title="RSS Feed"><img src="/icons/Feed-icon.svg" alt="RSS feed"></a></aside>
{{ end -}}

{{ end }}
