<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "/css/apple-touch-icon.png" | absURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">

    <title>{{ if not .Page.IsHome }}{{ with .Page.Title }}{{ . }} | {{ end }}{{ end }}Mumble</title>
    <meta name="description" content="Mumble is a free, open source, low latency, high quality voice chat application.">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mumble{{ if not .Page.IsHome }}{{ with .Page.Title }} | {{ . }}{{ end }}{{ end }}" />
    <meta property="og:description" content="Mumble is a free, open source, low latency, high quality voice chat application.">
    <meta property="og:image" content="{{ "/css/mumble.svg" | absURL }}" />
    <meta name="twitter:title" content="Mumble{{ if not .Page.IsHome }}{{ with .Page.Title }} | {{ . }}{{ end }}{{ end }}">
    <meta name="twitter:description" content="Mumble is a free, open source, low latency, high quality voice chat application.">
    <meta name="twitter:image" content="{{ "/css/mumble.svg" | absURL }}" />

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partial "layout/header-css.html" . }}
    {{ block "pagecss" . }}{{ end }}
</head>
<body>
    {{ partial "layout/header.html" . }}

    <div class="content-container">
        <div class="content">
            <main>
                {{ block "main" . }}{{ end }}
            </main>
        </div>
    </div>

    {{ partial "layout/footer.html" . }}
    <script>
        let headings = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]')
        for (let i = 0; i < headings.length; ++i) {
            let heading = headings[i]
            let anchor = document.createElement('a')
            anchor.href = '#' + heading.id
            anchor.className = 'heading-link'
            anchor.innerText = '🔗'
            heading.prepend(anchor)
        }
    </script>
</body>
</html>
