body > footer {
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #d2d2d2;

  font-size: 14px;
  line-height: 16px;
}

.footer-content {
  max-width: 1140px;
  margin: auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    line-height: 2em;
    li {
      display: inline-block;
    }
    a {
      display: block;
      color: black;
      text-align: center;
      padding-right: 0.4em;
      margin-right: 1.6em;
      text-decoration: none;
    }
  }
  .copyleft {
    color: #a6a6a6;
  }
}
