body {
	font-family: 'Roboto', sans-serif;
	background-color: #F2F2F2;
}

a {
	color: black;
}

aside {
	font-style: italic;
}

.logo {
	grid-template: "logo";
	align-self: center;
	height: 100px;
	width: 100px;
	background: url(mumble.svg) no-repeat;
	background-size: 100px;
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
}

header h1 {
	padding-left: 10px;
}

h1 {
	grid-template: "header";
	font-size: 200%;
	align-self: center;
}

header h1 a {
	text-decoration: none;
}

header h1 > sub {
	display: block;
	font-size: 16px;
}

body > header {
	background-color: #F2F2F2;
	border-bottom: 1px solid #D2D2D2;
}

#header-content {
	max-width: 1140px;
	padding: 10px;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-areas: "logo header nav";
}

body > header nav {
	grid-template: "nav";
	text-align: right;
	align-self: center;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: inline-block;
}

ul.menu li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.menu li a:hover {
	text-decoration: underline;
}

body > footer {
	padding: 20px;
	background-color: #F2F2F2;
	border-top: 1px solid #D2D2D2;

	font-size: 14px;
	line-height: 16px;
}

.footer-content {
	max-width: 1140px;
	margin: auto;
}

.footer-content ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-content ul li {
	display: inline-block;
	float: left;
}

.footer-content ul li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px 0px 0px;
	text-decoration: none;
}

.footer-content .copyleft {
	color: #a6a6a6;
}

.content .download-button {
	display: inline-block;
	background-color: #4CAF50;
	color: white;
	font-size: 20px;
	line-height: 20px;
	padding: 20px;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.content .download-button:hover {
	background-color: #0C9F10;
}

.download-text {
	font-size: 1.5em;
}

.download-subtext {
	font-size: 16px;
	line-height: 16px;
}

.download-screenshot {
	box-shadow: 5px 5px 30px 0px #888888;
}

.content-container {
	background-color: white;
	padding: 40px;
}

.content {
	margin: auto;
	max-width: 1140px;
	line-height: 1.3em;
}

.content h1 {
	font-size: 26px;
	font-weight: bold;
}
.content h2 {
	font-size: 22px;
	font-weight: bold;
}
.content h3 {
	font-size: 20px;
	font-weight: bold;
}
.content h4 {
	font-size: 18px;
	font-weight: bold;
}
.content h5 {
	font-size: 16px;
	font-weight: bold;
}
.content h6 {
	font-size: 12px;
	font-weight: bold;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	margin: 1em 0 0.5em;
}
.content ul, .content p {
	margin: 2px 0 16px;
}
.content b {
	font-weight: bold;
}
.content ul ul {
	margin: 2px 0 2px;
}
.content li {
	list-style-type: disc;
	margin-left: 16px;
}

.download-container {
	display: flex;
}
.download-container-left {
	flex: 33;
}
.download-container-right {
	flex: 66;
	text-align: center;
}
.download-container-right img {
	max-width: 100%;
}

.markdown-body ul {
	list-style-type: disc;
}
.markdown-body {
	line-height: 1.7em;
}
.markdown-body b, .markdown-body strong {
	font-weight: bold;
}

#bloglist > div {
	margin-top: 30px;
}

#bloglist > div::after {
	display: block;
	content: "";
	clear: both;
}

#bloglist > div:nth-child(1) {
	margin-top: 0;
}

nav.blogposts {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

nav.blogposts a {
	margin: 10px 0;
	text-decoration: none;
	color: #7e7e7e;
}

nav.blogposts div:nth-child(1) {
	text-align: left;
}

nav.blogposts div:nth-child(2) {
	text-align: right;
}

.download-box-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.download-box {
	justify-self: center;
	align-self: center;
	margin: 15px;
	text-align: center;
}

.os-name {
	display: block;
}

.os {
	display: block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin: 0 auto;
}

.os-windows {
	background-image: url(icons/windows.svg);
}

.os-mac {
	background-image: url(icons/apple.svg);
}

.os-linux {
	background-image: url(icons/linux.svg);
}

.os-ios {
	background-image: url(icons/app-store-ios.svg);
}

.os-android {
	background-image: url(icons/android.svg);
}

table.development-snapshots {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#header-content {
		display: block !important;
		text-align: center !important;
	}
	#header-content .logo {
		margin: 0 auto !important;
	}
	#header-content nav {
		text-align: center !important;
	}

	.download-box-container {
		grid-template-columns: 1fr 1fr !important;
	}
	.home-screenshots {
		display: none;
	}
}

.release-notes h2 {
	border: 0;
}
.release-notes .item { display: grid; grid-template: "title" auto
"desc" auto
"prs" auto
"commits" auto / 100%;
	border: 1px solid darkgrey;
	border-radius: 4px;
	margin: 1em 0 0.4em 0;
	padding: 0.4em;
}
.release-notes .category-title { display: inline; }
.release-notes .item-title { grid-area: title; margin: 0; line-height: 1.8em; }
.release-notes .item-desc { grid-area: desc; margin-bottom: 0.4em; line-height: 1.8em; }
.release-notes .item-prs { grid-area: prs; }
.release-notes .item-commits { grid-area: commits; }
.release-notes .item-commits > details { display: inline-block; }
.release-notes .item-prs,
.release-notes .item-commits { margin-bottom: 4px; font-size: 0.8em; line-height: 1.8em; }
.release-notes .item-commits > details { vertical-align: top; }
.release-notes .item-commits > details > summary { list-style-position: outside; margin-left: 16px; }
.release-notes .item-prs > .pr-link,
.release-notes .item-commits > details > summary > * { background-color: lightgrey; border-radius: 4px; margin-right: 2px; padding: 2px 4px; }
.release-notes .commit-hashlink,
.release-notes .pr-link { display: inline-block; line-height: 1.2em; }

figure {
	border: 0px solid #c0c0c0;
	display: inline-block;
}
figcaption {
	display: block;
    background-color: #eeeeee;
	/* font: italic smaller sans-serif; */
	font-style: italic;
	padding: 3px 6px;
}
figure img {
	display: block;
}
.figp {
	display: block;
	margin-bottom: 16px;
}

.headlineanchor { font-size: 0.9em; visibility: hidden; padding-left: 4px; position: absolute; top: 0; display: inline-block; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { position: relative; }
.markdown-body h1:hover .headlineanchor,
.markdown-body h2:hover .headlineanchor,
.markdown-body h3:hover .headlineanchor,
.markdown-body h4:hover .headlineanchor { visibility: visible; }

@media (max-width: 1899px) {
	aside.article-toc { display: none; }
}
.article-toc {
	position: fixed;
	right: 2em;
	border: 1px solid #ccc;
	border-radius: 0.4em;
	padding: 4px 8px;
	max-width: 280px;
}
.article-toc-title {
	font-weight: bold;
}
.article-toc p {
	margin-bottom: 0.4em;
}
.article-toc ul {
	list-style-type: none;
	padding-left: 0;
}

.label {
	border: 1px solid #ccc;
	background-color: #fcc;
	/* color: red; */
	border-radius: 4px;
	padding: 0px 2px;
}

.home-screenshots {
	display: flex;
	flex-direction: column;
}
.home-screenshots figure {
	width: 500px;
	margin: 0 0 1em 1em;
}
@media (max-width: 949px) {
	.home-screenshots {
		display: none;
	}
}

.servercount {
	font-size: 10px;
	margin-left: 4px;
	vertical-align: top;
}
