{{ partial "header.html" . }}

{{ $paginator := .Paginate (where .Pages ".Type" "==" "blog") (index .Site.Params "paginate" | default 10) }}

{{ if gt $paginator.TotalPages 1 }}
<footer>
    <nav class="blogposts">
        <div>
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">← Newer posts</a>
            {{ end }}
        </div>
        <div>
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older posts →</a>
            {{ end }}
        </div>
    </nav>
</footer>
{{ end }}

<div id="bloglist">
{{ range $paginator.Pages }}
<div class="markdown-body">
    <h2><a href="{{ .URL | relURL }}">{{ .Title }}</a></h2>
    {{ .Summary }}
    {{ if .Truncated }}<a href="{{ .URL | relURL }}">Read more...</a>{{ end }}
</div>
{{ end }}
</div>

{{ if gt $paginator.TotalPages 1 }}
<footer>
    <nav class="blogposts">
        <div>
        {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">← Newer posts</a>
        {{ end }}
        </div>
        <div>
        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Older posts →</a>
        {{ end }}
        </div>
    </nav>
</footer>
{{ end }}

{{ partial "footer.html" . }}
